
body {
    background-color: #334;
    font-family: sans-serif;
}

#quiz-area {
    user-select: none;
    background-color: #eeeeee;
    display: grid;
    border-radius: 15% / 50%;
    min-width: 820px;
    min-height: 780px;
}

#meta-area {
    color: #eee;
    margin-bottom: 5px;
    min-width: 820px;
}

#options-area {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#options-choose-inside {
    grid-column: 2;
}
#options-choose-full {
    min-width: 6em;
}
#options-choose-faststrat {
    grid-column: 2;
    min-width: 6em;
}

#score-tracker {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}
#score-numbers {
    display: grid;
    justify-items: center;
    grid-column: 2;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-content: center;
}
#wins {
    grid-column: 2;
    min-width: 5em;
}
#losses {
    min-width: 5em;
}
#streak {
    min-width: 6em;
}
#round-end-screen {
    border-style: none;
    border-radius: 15px;
    position: relative;
}
#round-end-screen::backdrop {
    background-image: radial-gradient(
        farthest-corner at 50% -10%,
        #33334455 60%,
        #130101ff 100%);
}
.ghosted {
    background-image: radial-gradient(
        #ccc 30%,
        #55a 110%
        );
}

#round-end-title {
    text-align: center;
    margin-bottom: 5px;
}
#round-end-text {
    margin-bottom: 5px;
}
#round-end-button {
    text-align: right;
    position: relative;
    float:right;
    right: 5%
}

#enemies-inside {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    height: 120px;
}
#knight-inside-left {
    grid-column: 2;
}
#ogre-inside: {
    grid-column: 3;
}
#knight-inside-right {
    grid-column: 4;
}

#projector-spacing-inside {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 3fr 4fr 3fr;
}
#projector-screen-inside {
    height: 60px;
    grid-column: 2;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 20px;
    margin-bottom:30px;
}
#projector-screen-outside {
    margin-top: 5px;
    display: grid;
    justify-items: center;
    grid-gap: 30px;
    grid-template-columns: 7fr 1fr 1fr 1fr 7fr;
    margin-bottom:30px;
}
.projector div:nth-child(3n+1) {
    grid-column: 2;
}

#enemies-outside {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 120px;
}
#ogre-outside-left {
    grid-column: 2;
}
#knight-outside-left {
    grid-column: 3;
}
#knight-outside-centre {
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 65px;
}
#ogre-outside-right {
    grid-column: 6;
    position: relative;
    left: -155px;
}
#ogre-outside-left {
    position: relative;
    left: 155px;
}

#ghosts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: -50px;
}
#ghost-1 {
    position: relative;
    top: -85px;
    left: 5vw;
}
#ghost-2 {
    position: relative;
    top: 140px;
}
#ghost-3 {
    position: relative;
    top: 40px;
}

#forward-statues-inside, #forward-statues-outside {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}
#statue-left-inside, #statue-left-outside {
    grid-column: 2;
}
#statue-centre-inside {
    margin-top: 50px;
}
#statue-centre-outside {
    margin-top: 50px;
}

#projector-spacer {
    position: relative;
    height: 2px;
    margin-bottom: -2px;
    top: -15px;
    margin-left: 9vw;
    margin-right: 9vw;
    background-color: #777777;
}
#glass-wall {
    margin-top: 15px;
    height: 2px;
    background-color: #7788ee;
}
#outside-wall-spacer {
    margin-top: 15px;
    height: 2px;
}

#spawn-circle-grid {
    margin-top: 250px;
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}
#inside-statue-2, #inside-statue-5,
#outside-statue-2, #outside-statue-5 {
    margin-top: -60px;
}
#inside-statue-3, #inside-statue-4,
#outside-statue-3, #outside-statue-4 {
    margin-top: -90px;
}
#inside-statue-1, #outside-statue-1 {
    grid-column: 2;
    margin-right: -30px;
}
#inside-statue-2, #outside-statue-2 {
    margin-right: -10px;
}
#inside-statue-3, #outside-statue-3 {
    margin-right: 0px;
}
#inside-statue-4, #outside-statue-4 {
    margin-left: 0px;
}
#inside-statue-5, #outside-statue-5 {
    margin-left: -10px;
}
#inside-statue-6, #outside-statue-6 {
    margin-left: -30px;
}
#wait, #leave, #wait-for-sort {
    position: absolute;
    top: 490px;
    left: max(410px, 50vw);
    margin-left: -5em;
    z-index: 2;
}
#wait {
    top: 800px;
}
#wait-for-sort {
    top: 160px;
    margin-left: -4em;
}

#buffs {
    position: fixed;
    left: 5%;
    bottom: 36vh;
    color: #000;
    text-shadow: 0px 0px 3px #5a5;
}
#chatbox {
    text-align: left;
    backdrop-filter: blur(5px);
    background-color: #d2d2d233;
    position: fixed;
    right: 0;
    bottom: 33vh;
    width: 15em;
    height: 8em;
    padding-left: 5px;
    border-top: solid #c0c0c077;
    border-bottom: solid #c0c0c077;
    z-index:20;
}
#phase-announcement {
    display: none;
}
#phase-announcement.phase-announced {
    display: block;
    color: white;
    position: fixed;
    left: 2%;
    bottom: 40vh;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

.this-is-a-button {
    color: #334;
    background-color: #ddd;
    width: fit-content;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 3px 9px;
    user-select: none;
}
.enabled-mode {
    background-image: radial-gradient( #6d6 20%, #ddd 90%);
}
.incidental-enabled-mode {
    background-image: radial-gradient( #8dd 0%, #ddd 90%);
}

.knight {
    background-image: url("./page_images/Verity_knight.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 73px;
    margin-left: -10px;
}

.ogre {
    background-image: url("./page_images/Verity_ogre.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 130px;
    width: 130px;
}

.ogre-unstop {
    background-image: url("./page_images/Verity_ogre_unstop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 140px;
}

.ghost {
    background-image: url("./page_images/Verity_ghost.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.player_guardian {
    background-image: url("./page_images/Verity_Guardian_You.svg");
}
.nonplayer_guardian {
    background-image: url("./page_images/Verity_Guardian_Blank.svg");
}
.GUARDIAN_A {
    background-image: url("./page_images/Verity_Guardian_A.svg");
}
.GUARDIAN_B {
    background-image: url("./page_images/Verity_Guardian_B.svg");
}
.GUARDIAN_C {
    background-image: url("./page_images/Verity_Guardian_C.svg");
}
.GUARDIAN_D {
    background-image: url("./page_images/Verity_Guardian_D.svg");
}
.GUARDIAN_E {
    background-image: url("./page_images/Verity_Guardian_E.svg");
}
.GUARDIAN_F {
    background-image: url("./page_images/Verity_Guardian_F.svg");
}
.player_guardian, .nonplayer_guardian, .GUARDIAN_A, .GUARDIAN_B, .GUARDIAN_C, .GUARDIAN_D, .GUARDIAN_E, .GUARDIAN_F, .invisible_guardian {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100px;
    width: 100px;
    margin-top: -20px;
    margin-left: 5px;
    z-index: 6;
}
.GUARDIAN_A, .GUARDIAN_B, .GUARDIAN_C, .GUARDIAN_D, .GUARDIAN_E, .GUARDIAN_F, .invisible_guardian {
    margin-left: 21px;
}

.pedestal {
    background-image: url("./page_images/Verity_Pedestal.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -10px;
    left: 0;
    height: 70px;
    width: 80px;
    margin-top: -35px;
    margin-left: 14px;
    margin-bottom: -20px;
    z-index: 3;
}

.pedestal-glow {
    background-image: url("./page_images/Verity_Pedestal_Halo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
    width: 130px;
    top: -38px;
    left: -27px;
    z-index: 1;
}
.pedestal-not-glow, .pedestal-glow {
    position: absolute;
    height: 100px;
    width: 130px;
    top: -38px;
    left: -27px;
    z-index: 1;
}

.Trigon {
    background-image: url("./page_images/Verity_triangle.svg");
}
.Quadrate {
    background-image: url("./page_images/Verity_square.svg");
}
.Orbicular {
    background-image: url("./page_images/Verity_circle.svg");
}
.Spherical {
    background-image: url("./page_images/Verity_sphere.svg");
}
.Hexehedral {
    background-image: url("./page_images/Verity_cube.svg");
}
.Pyramidial {
    background-image: url("./page_images/Verity_tetrahedron.svg");
}
.Cylindric {
    background-image: url("./page_images/Verity_cylinder.svg");
}
.Trilateral {
    background-image: url("./page_images/Verity_prism.svg");
}
.Conoid {
    background-image: url("./page_images/Verity_cone.svg");
}
.Trigon, .Quadrate, .Orbicular, .Spherical, .Hexehedral, .Pyramidial, .Cylindric, .Trilateral, .Conoid {
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 40px;
}
.Trigon {
    margin-left: -8px;
}
.no-shadow {
    height:30px;
    width: 40px;
}

.wall-shape {
    height: 60px;
    width: 75px;
}

.splinter {
    height: 70px;
    width: 80px;
    margin-left: -10px;
}

.distant-statue-circle {
    opacity: 20%;
}
